.btn-start,
.quiz-box,
.score_box{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.quiz-box.active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%) scale(1);
}
.quiz-box{
    width: 550px;
    transform: translate(-50%,-50%) scale(0.7);
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;
}

.quiz-box header .title{
    font-size: 20px;
    font-weight: 600px;
    text-align: center;
}
.quiz-box .question-text{
   font-size: 20px;
   font-weight: 600;
}
.quiz-box .option_list{
  padding: 18px 0;
}
.quiz-box .option_list .option:hover{
    color: #112B2C;
    background-color: #FFD33D;
}
.quiz-box .option_list .option.correct{
    color: #155224;
    background-color: #d4edda;
}
.quiz-box .option_list .option.incorrect{
    color: #721c24;
    background-color: #f8d7da;
}

.option_list .option{
    border: 1px solid #151D3B;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.quiz-box .option_list .option.disabled{
   pointer-events: none;
}
.next_btn {
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    transform: scale(0.9);
}
.next_btn.show{
    opacity: 1;
    pointer-events: auto;
}
.quiz-box footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz-box header{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    position: relative;
}
.quiz-box header .timer{
    display: flex;
    background:#112B2C;
    color: #fff;
    border-radius: 5px;
    padding: 7px;
    font-size: 15px;
}
.quiz-box header .timer.time_text{
    font-size: 12px;
}
.quiz-box header .time_line{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 200px;
    background: #F0A500;
}
.score_box.active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%) scale(1);
}
.score_box{
    width: 550px;
    align-items: center;
    justify-content: center;
    padding: 30px;
    transform: translate(-50%,-50%) scale(0.7);
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;
}
.score_box .icon{
    font-size: 90px;
    color:#007bff;
    margin-bottom: 10px;
}
.score_box .score_text{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
